table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #554949;
}

thead tr {
  text-align: center;
  font-size: 1.5rem;
}

thead th,
tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  width: 120px;
}

tbody tr:hover {
  background-color: #202020;
}

td {
  vertical-align: middle;
}

/* Style for the product image */
td img {
  max-width: 100px;
  max-height: 50px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

/* Responsive table for smaller screens */
@media (max-width: 768px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 8px;
  }
  td img {
    max-width: 80px;
    max-height: 40px;
  }
}

.deleteBTN {
  color: red;
}

.deleteBTN:hover {
  cursor: pointer;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background-color: #ff0000c5;
  color: white;
}

.editBTN:hover {
  /* color: blue; */
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #1500ff9c;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 10px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
